@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    color: #fff;
}

body {
    font-family: 'Inter', sans-serif;
    background: url(../img/Fundo.jpg) no-repeat;
    background-size: 100%;
    background-position: top center;
    background-color: #121214;
}

header {
    padding-top: 32px;
    animation: fromTop 1s .3s backwards;
    height: calc(120px + 32px);
}

header img {
    width: 120px;
    border-radius: 50%;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
}

.sombra-perfil img {
    width: 120px;
    background-image: linear-gradient(90deg, #9572fc 0%, #43e7ad 100%);
    display: flex;
    padding: 4px;
    margin: auto;
    transition: transform .3s;
}

.sombra-perfil img:hover {
    transform: scale(1.1);
}



main {
    max-width: 580px;
    width: 90%;
    margin: auto;
    display: grid;
    gap: 24px;
}

.sombra {
    background-image: linear-gradient(90deg, #9572fc 0%, #43e7ad 100%);
    padding-top: 4px;
    border-radius: 10px;
    margin-top: 32px;
}


.imagem-circular img {
    border-radius: 50%;
}

.containner {
    line-height: 160%;
}

.containner h2 {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -0.47px;
}

.containner p {
    font-size: 16px;
    color: #a1a1aa;
    letter-spacing: -0.18px;
}

.containner i {
    font-size: 24px;
}

.box {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.box li,
.streamers img,
.games img {
    transition: linear .5s;
}

.box li:hover {
    transform: scale(1.1);
}

.streamers img:hover,
.games img:hover {
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
}

.games img {
    width: 90px;
    height: 120px;
    border-radius: 8px;
}

.streamers img {
    width: 70px;
    height: 70px;
    border: 1px solid #443e54;
}

.social img {
    width: 38px;
}

.Discord i {
    color: #5865F2;
    font-size: 35px;
}

.fundo {
    background-color: #2a2634;
    padding: 24px 32px;
    border-radius: 8px;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    text-align: center;
    margin-top: 20px;
    font-weight: 200;
    animation: fromBottom 1s 4.3s backwards;
}

footer span {
    color: darkslateblue;
    font-weight: 400;
}

footer img {
    margin: 15px 0;
    width: 10%;
    opacity: 50%;
}

/*animation*/
.containner {
    animation: fromTop 1s calc(1s + .3s) backwards;
}

.containner:nth-child(2) {
    animation-delay: 2.3s;
}

.containner:nth-child(3) {
    animation-delay: 3.3s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}